@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lexend:wght@100..900&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import "tailwindcss";

 module.exports = {
    theme: {
      extend: {
        backgroundImage: theme => ({
+         'hero-pattern': "url('../Wologisi_FC/wologisi/FB_IMG_1758833678300.jpg')",
+         'footer-texture': "url('/img/footer-texture.png')",
        })
      }
    }
  }

.poppins {
  font-family: "Poppins", sans-serif;
}
.Orbitron {
  font-family: "Orbitron", sans-serif;
}
.anton {
  font-family: "Anton", sans-serif;
}
.ubuntu {
  font-family: "Ubuntu", sans-serif;
}
.lexend {
  font-family: "Lexend", sans-serif;
}
.slide h2,
.slide p {
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 5s linear infinite;
}